
<form action="/login" method="POST">
  <h2 class="text-center">Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

   {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}
  <div class="mx-auto text-center mt-2">
    <button class="btn btn-primary mx-auto text-center">Sign in</button>
  </div>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>