<div class="container-fluid home-body">

<h2 class="text-center">Signup</h2>

<form class="homepage" action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message}}
    <div class="alert alert-danger text-center mx-auto">{{ message }}</div>
  {{/if}}
  <br><br>

  <div class="text-center mx- auto">
    <button type="submit" class="btn btn-primary">Create account</button>
  </div>

  <p class="account-message">
    Do you already have an account?
    <a href="/login"><u>Login</u></a>
  </p>
</form>
</div>