{{#if  theUser}}
{{> menu}}
 <form id="updateProfileForm" method="POST" action="/edit-profile/{{theUser._id}}" >
            <label>Username: 
              <input name="username" type="text" value="{{theUser.username}}">
            </label>
            <label>New Password:
              <input placeholder="new password" type="password" name="password">
            </label>
            
            
        <div class="mr-auto ml-auto mt-3 text-center">
            <button class="btn btn-success text-center d-inline" id="updateUser" type='submit'>Update</button>
            <a class="text-center btn btn-danger" href="/delete-user/{{theUser._id}}">Delete</a>
        </div>
 </form>
 {{else}}
 {{> login}}
 {{/if}}