Hello Welcome, {{theUser.username}}
<h2>Create new deck:</h2>
<form id="createDeckForm" method="POST" action="/" >
<input id="quizname" type="text" name="quizName">
<div id="wordList">

</div>

</form>
<button id="newWord">New Word</button>
<button id="submitWords" type='submit'>ADD WORDS</button>