body {
  padding: 50px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

#form input, #form label,#form button{
  display: block;
  margin: 0 auto;
}
#form label,#form p,  #form button{
  text-align: center;
}
